alabaster
Babel
beautifulsoup4
certifi
chardet
dataclasses
dectate
docutils
entrypoints
filelock
flake8
future
guzzle-sphinx-theme
idna
imagesize
importscan
isort
javalang
javasphinx
Jinja2
kaybee
lazy-object-proxy
lxml
MarkupSafe
mccabe
packaging
Pillow
pipenv
pluggy
py
pycodestyle
pydantic
pydash
pyflakes
Pygments
pyparsing
pytz
requests
ruamel.yaml
semantic-version
six
snowballstemmer
soupsieve
Sphinx==1.8.4
sphinx-fontawesome==0.0.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-plantuml
sphinxcontrib-websupport
urllib3
virtualenv
virtualenv-clone
wrapt
